accelerate==0.20.3
aiohttp==3.8.4
aiosignal==1.3.1
appdirs==1.4.4
async-timeout==4.0.2
attrs==23.1.0
certifi==2023.5.7
click==8.1.4
cmake==3.26.4
datasets==2.13.1
deepspeed==0.9.5
dill==0.3.6
docker-pycreds==0.4.0
einops==0.6.1
evaluate==0.4.0
flash-attn==1.0.5
frozenlist==1.3.3
fsspec==2023.6.0
gitdb==4.0.10
GitPython==3.1.31
hjson==3.1.0
huggingface-hub==0.16.4
multidict==6.0.4
multiprocess==0.70.14
packaging==23.1
pandas==2.0.3
pathtools==0.1.2
peft==0.3.0
protobuf==3.19.6
pytz==2023.3
PyYAML==6.0
regex==2023.6.3
responses==0.18.0
safetensors==0.3.1
scikit-learn==1.3.0
scipy==1.10.1
sentencepiece==0.1.99
setuptools==59.5.0
torch==2.0.1
transformers==4.30.2
wandb==0.15.5

